.containerCard{
  height: 110px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.description{
  width: 110px;
}
.imageDiv{
  height: 90px;
  width: 70px;
  text-decoration: none;
}

.image{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  
}

.descriptionItem{
  margin: 5px ;
}

.linkToDoc{
  text-decoration: none;
  color: rgb(15, 6, 119);
}